.transition-speed {
    position: relative;
    margin: 16px 0 24px;
    transition: all 0.3s ease-in-out;
    .input {
        margin-left: 16px;
        height: 34px;
        outline: none;
        box-shadow: none;
        border: solid 1px #ddd;
        max-width: 100px;
        text-align: center;
    }

    .speed-errors {
        margin-left: 10px;
        transition: all 0.3s ease-in-out;
        display: block;
        position: absolute;
        bottom: -10px;
        opacity: 0;
        visibility: hidden;
        height: 0;
        span {
            color: rgb(235, 21, 21);
            font-size: 12px;
        }
        @media (min-width: 1024px) {
            position: initial;
            display: inline-block;
        }
    }

    &.invalid {
        padding-bottom: 14px;
        .speed-errors {
            opacity: 1;
            height: auto;
            visibility: visible;
        }
        @media (min-width: 1024px) {
            padding-bottom: 0;
        }
    }
}
